
 
  <h1>Actualizar Rol o eliminar usuario</h1>

<form id="updateUserForm">
    {{!-- <!-- Agregar campo oculto para el método PUT -->
    <input type="hidden" name="_method" value="PUT"> --}}

    <!-- Agregar campo oculto para el ID del usuario -->
    <label for="_id">ID</label>
    <input type="text" id="_id" name="_id">

    <label for="rol">Rol:</label>
    <select name="rol" id="rol">
      <option value="admin">Administrador</option>
      <option value="user">Usuario</option>
      <option value="premium">Premium</option>
    </select>

    <button type="submit">Actualizar Rol</button>
    <button type="button" id="deletebutton">Borrar usuario</button>
</form>

<script>
  const formUpdater = document.getElementById('updateUserForm');

  formUpdater.addEventListener('submit', async event => {
    event.preventDefault();

    const formData = new FormData(formUpdater);
    const userId = formData.get('_id');
    const selectedRole = formData.get('rol');

    const response = await fetch(`/api/usuarios/${userId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({ rol: selectedRole })
    });

    if (response.status === 200) {
      window.location.href = `/profile/${userId}`;
    } else {
      const error = await response.json();
      alert(error.message);
    }
  });

const deleteButton = document.getElementById('deletebutton');
  deleteButton.addEventListener("click", async event => {
    event.preventDefault();

 const formData = new FormData(formUpdater);
    const userId = formData.get('_id');
    const response = await fetch(`/api/usuarios/${userId}`, {
      method: 'DELETE',
      headers: {
        'Content-Type': 'application/json'
      }
    })
    if (response.status === 200) {
      alert("Usuario eliminado correctamente");
      window.location.href = "/";
    } else {
      const error = await response.json();
      alert(error.message);
    }
  })
</script>
